[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.json]
indent_size = 2

[{*.yml,*.yaml}]
indent_size = 2

[*.{kt,kts}]
max_line_length = 180
ij_kotlin_code_style_defaults = kotlin_official
ij_kotlin_keep_blank_lines_in_declarations = 1
ij_kotlin_keep_blank_lines_in_code = 1
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_align_multiline_parameters = false
ij_kotlin_import_nested_classes = false
ij_kotlin_packages_to_use_import_on_demand = unset
ij_kotlin_imports_layout = *
ktlint_disabled_rules = enum-entry-name-case,filename

[*.md]
max_line_length = 300
